@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'olly';
    src: local('olly'), url('./Poppins-Regular.ttf') format('truetype');}

*{
    font-family: 'olly';
}